<h1>New Person</h1>
<%= form_for @person do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :age %>
  <%= f.number_field :age, min: 1, max: 110%>
  
  <%= f.label :hair_color %>
  <%= f.text_field :hair_color %>

  <%= f.label :eye_color %>
  <%= f.select :eye_color, ['blue', 'green', 'brown', 'hazel', 'black like their soul']%>

  <%= f.label :gender %>
  <%= f.select :gender, ['female', 'male', 'other']%>
  
  <%= f.label :alive? %>
  <%= f.select :alive, ['true', 'false']%>

  <%= f.submit %>
<% end %>